#canvas{
  width: 700px;
  height: 700px;
  border: 2px solid red;
  text-align: center;
}

span {
  background: red;
  display: inline-block;
  padding: 10px;
  color: #fff;
  margin: 10px 0;
}

.available span {
  background: green;
}

.nearby span:after {
  content: 'nearby';
  margin-left: 10px;
}

#bag {
  width: 200px;
  height: 500px;
  margin: 0 auto;
  background: url(/bag.png);
}